*{
	margin: 0;
	box-sizing: border-box;
}

html{
	height: 100%;
}

body{
	height: 100%;
	
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	
	background-color: green;
}

#content{
	background-color: white;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	
	padding: 10px;
}

@media (max-width: 480px){
	#content{
		width: 100%;
		height: 100%;
	}
}

#content #feedback-form{
	display: block;
}

#content #feedback-form form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#content #feedback-form form input, #content #feedback-form form textarea{
	margin-bottom: 5px;
	width: 500px;
	max-width: 100%;
}

#content #feedback-form form textarea{
	margin-bottom: 5px;
	height: 200px;
}

#logo{
	display: flex;
	align-items: center;
	justify-content: center;
}

#logo img{
	height: 200px;
}